.confirm__header {
    border-bottom: solid 0.5px black;
}

.confirm__header-title {
    color: #8B7969;
    text-align: center;
}

.confirm__main-title {
    color: #8B7969;
    text-align: center;
}

.confirm__main-contents {
    margin-left: 400px;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}


th {
    background-color: #BAA899;
    text-align: left;
    color: white;
    padding-left: 20px;
    line-height: 3;
}

td {
    border: solid 0.5px #BAA899;
    width: 400px;
    padding-left: 40px;
}


input,textarea {
    outline: none;
    border: none;
    color: #8B7969;
    resize: none;
}

.tell input,
.address,
.building,
.detail,
.category {
    width: 400px;
}

.name input {
    width: 50px;
}

.send {
    width: 80px;
    margin-left: 280px;
    background-color: #82756A;
    color: white;
    border: none;
}

.fixes {
    border: none;
    color: #8B7969;
    background-color: white;
}
